<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="logging" class="org.apache.log4j.RollingFileAppender">
	 <param name="Threshold" value="DEBUG" />

<!--
	<param name="File" value="/var/sog/sdk/downstream/java/MTNPCRFLINK/MTNPCRF.log" />

-->
		<param name="File" value="./javalink.log" />
	 	<param name="MaxFileSize" value="1000KB"/>
		 <param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %5p %C:%L - %m%n" />
		</layout>
	</appender>	 
	
	<root>		
		<level value="DEBUG"/>
		<appender-ref ref="logging" />
	</root>
	
</log4j:configuration>